<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggested Places</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h1>Suggested Places</h1>
    <div class="place-container">
        <div class="apartment-list">
            <div class="apartment">
                <img src="../media/a1.jpeg" alt="Place 1">
                <h4>Karjon Hall</h4>
            </div>
            <div class="apartment">
                <img src="../media/a2.jpg" alt="Place  2">
                <h4>Liberation War Museum</h4>
            </div>
            <div class="apartment">
                <img src="../media/a3.jpg" alt="Place  3">
                <h4>Dhakeshawri Mandir</h4>
            </div>
            <div class="apartment">
                <img src="../media/a4.jpg" alt="Place  4">
                <h4>Lalbag Kella</h4>
            </div>
        </div>
    
</body>
</html>
